/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- Main Layout -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
body {
  height: 100svh;

  display: flex;
  flex-direction: row;

  overflow: hidden;
}
aside {
  height: 100%;
  flex-basis: 20%;

  display: flex;
  flex-direction: column;
  gap: var(--input-margin-vertical);

  border-right: 1px solid var(--vscode-panel-border);
}
main {
  height: 100%;
  flex-basis: 80%;

  display: flex;
  flex-direction: column;
  gap: var(--input-margin-vertical);
}
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- Siderbar -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-   Main   -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- Utility -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
hr {
  height: 1px;

  margin: 0;

  border: none;
  background-color: var(--vscode-panel-border);
}
